{% extends "general/base.html" %}

{% block content %}
<div class="container">
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h2>О нас</h3>
		<p>
			Инклюзивная секция адаптивного фигурного катания для детей с ментальными нарушениями «Хрустальные пазлы».
		</p>
		<h3>Адрес офиса</h3>
		<p>
			121059, г. Москва, Бережковская набережная, д. 20, стр. 19
		</p>
		<h3>Контактный телефон</h3>
		<p>
			+7(926)401-90-88
		</p>
	</div>
	<div class="col-lg-2"></div>
</div>
</div>
{% endblock %}
