{% extends "general/base.html" %}

{% block content %}
<div class="row">
		<div class="col-lg-12">{% include "general/carousel.html" %}</div>
</div>
<div class="row mt-5">
		<div class="col-lg-2 col-sm-1"></div>
		<div class="col-lg-8 col-sm-11">
			<h3 class="text-center">О нас</h3>
			<p>
				Первая в России Инклюзивная секция адаптивного фигурного катания для детей с диагнозом аутизм и другими ментальными нарушениями "Хрустальные пазлы" – уникальный спортивный эксперимент, существующий с 2016 года.
			</p>
			<p>
				Благодаря занятиям в секции «Хрустальные пазлы», дети с «невидимой инвалидностью» впервые получили возможность познакомиться с таким прекрасным и сложным видом спорта как фигурное катание.
			</p>
			<p>
				На занятиях дети развивают не только физические навыки, но и внимание, память, самоконтроль, дисциплину, учатся работе в команде. Приятным дополнительным эффектом тренировок в «Хрустальных пазлах» стало создание естественной инклюзии, где дети с особенностями занимаются и дружат с нейротипичными (развивающимися без особенностей) сверстниками.
			</p>
			<p>
				Успехи наших воспитанников вселяют уверенность в том, что мы движемся в правильном направлении, стремясь развивать адаптивные виды спорта в нашей стране.
			</p>
		</div>
		<div class="col-lg-2 col-sm-1"></div>
</div>
<div class="row">
	{% include "general/posts.html" %}
</div>
{% endblock %}
