{% include "general/base.html" %}
{% block content %}

<div class="container pt-5">
   <div class="row">
      <div class="col">расписание групп:</div>
   </div>
   <div class="row pt-4">
      <div class="col">
         <table class="table">
            <thead>
               <th></th>
               <th>понедельник</th>
               <th>вторник</th>
               <th>среда</th>
               <th>четверг</th>
               <th>пятница</th>
               <th>суббота</th>
               <th>воскресение</th>
            </thead>
            <tbody>
               <tr>
                  <td>младшая группа</td>
                  <td>
                  лед: 12:00 - 13:00
                  <br/>лед: 12:00 - 13:00
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
               </tr>
            </tbody>
         </table>
         </table>
      </div>
   </div>
</div>

{% endblock %}
